@import url(./reset.css);
* {
  list-style: none;
  text-decoration: none;
}
* img {
  width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.nav {
  width: 150px;
  border-radius: 20%;
  font-size: 18px;
  color: #e0bf78;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #555;
  background-color: #fff;
  margin-left: 20px;
  padding-bottom: 20px;
}
.nav .nav_logo {
  width: 109px;
}
.nav a {
  display: block;
  color: #e0bf78;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav .items {
  font-size: 14px;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .items a {
  color: #8e6100;
}
.nav .product-list:hover > .items {
  height: 50px;
  padding-bottom: 5px;
}

.header_img {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header_img .banner {
  width: 100%;
  padding-left: 270px;
  margin-bottom: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 180px;
}
.header_img .header_logo {
  width: 545px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scenario2 {
  padding-left: 45px;
  padding-right: 45px;
  overflow: hidden;
}