@import url(./reset.css);
* {
  list-style: none;
  text-decoration: none;
}
* img {
  width: 100%;
  display: block;
}

.wrapper {
  margin: 0 auto;
  position: relative;
}
.wrapper .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}
.wrapper .header .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
  margin-top: 100px;
}
.wrapper .header .hero-logo {
  width: 45px;
  margin-left: 45px;
}
.wrapper .main {
  margin: 0 auto;
  width: 85%;
}
.wrapper .main .main-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .main .main-story .main-story-intro {
  text-align: left;
  width: 30%;
  line-height: 1.5;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.wrapper .main .all-product {
  margin: 0 auto;
  padding-right: 50px;
  margin-bottom: 100px;
}
.wrapper .main .all-product .main-product {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 150px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.wrapper .main .all-product .main-product .product-img {
  padding-left: 50px;
  padding-right: 30px;
}
.wrapper .main .all-product .main-product .product-img2 {
  padding-right: 50px;
}
.wrapper .main .all-product .main-product .product-intro {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 300px;
}
.wrapper .main .all-product .main-product .product-intro p {
  font-size: 12px;
}
.wrapper .main .all-product .main-product .product-intro .text-decor {
  font-size: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: didot;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .main .all-product .main-product .product-intro .text-decor p {
  font-size: 16px;
}

.main-contact {
  width: 100%;
  border-top: dotted 5px #000;
  border-bottom: dotted 5px #000;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.main-contact .contact-info {
  width: 30%;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
}
.main-contact .contact-btn {
  width: 40%;
  margin: 0 auto;
  width: 150px;
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: #000;
  border: solid 1px #000;
}
.main-contact .contact-btn:hover {
  background-color: #fff;
  color: #000;
}

.all-card {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-card .product-card {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  border: solid 1px #cbcbcb;
  -webkit-box-shadow: 5px 5px 3px #555555;
          box-shadow: 5px 5px 3px #555555;
}
.all-card .product-card .product-card-img {
  height: 250px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.all-card .product-card .info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all-card .product-card .info .name {
  font-size: 32px;
  font-weight: bold;
  width: 170px;
}
.all-card .product-card .info .price {
  font-size: 24px;
  width: 130px;
  padding: 14px 0 14px 0;
}
.all-card .product-card p {
  font-size: 12px;
  padding: 10px;
  padding-bottom: 20px;
}