// color-variable
$primary-color: #e0bf78;
$primary-color1: #ffe8b6;
$primary-color2: #f5c55c;
$primary-color3: #d6a12f;
$primary-color4: #bc8714;
$primary-color5: #8e6100;

@import url(./reset.css);
* {
  list-style: none;
  text-decoration: none;
  img {
    width: 100%;
    display: block;
  }
}
// nav
.nav {
  width: 120px;
  border-radius: 20%;
  font-size: 18px;
  color: $primary-color;
  position: fixed;
  display: flex;
  flex-direction: column;
  border: solid 1px #555;
  background-color: #fff;
  margin-left: 10px;
  padding-bottom: 20px;
  box-shadow: black 2px;
  z-index: 999;
  .nav_logo {
    margin-top: 20px;
    width: 80px;
  }
  li {
    &:hover {
      list-style: disc;
      text-decoration: dotted;
      color: black;
    }
    a {
      display: block;
      color: $primary-color;
      flex-direction: column;
      &:hover {
        color: black;
      }
    }
  }
  .items {
    font-size: 14px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    a {
      color: $primary-color;
    }
  }
  .product-list {
    &:hover {
      & > .items {
        height: 50px;
        padding-bottom: 5px;
        color: black;
      }
    }
  }
}

//cart
.cart {
  z-index: 999;

  position: fixed;
  width: 48px;
  height: 48px;
  right: 39px;
  top: 115px;
  &:hover {
    opacity: 0.5;
  }
}

//footer
footer {
  position: relative;
  //   width: 100%;
  height: 35vh;
  background-color: rgb(0, 0, 0);
  background-image: url(../img/stock/flower2.png);
  background-repeat: no-repeat;
  background-position: left;

  .footer-bg {
    background-image: url(../img/stock/flower.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 20px;
    z-index: 99999;

    .logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;

      padding-top: 30px;
    }
    .site-footer__links {
      width: 33%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      font-size: 10px;
      top: 30%;
      left: 10%;
      word-spacing: 3rem;
      list-style-type: none;
      a {
        list-style-type: none;
        word-spacing: 2rem;
        flex: 1;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border: solid 10px transparent;
        box-sizing: border-box;
        line-height: 2rem;
        list-style-type: none;
      }
    }
    .h4 {
      font-size: 13px;
      border-bottom: solid 1px;
      padding: 10px 0;
      letter-spacing: 1.5px;
      margin-bottom: 1rem;
      float: right;
      width: 100%;
    }
    .CONTENTS-link {
      width: 33%;
      padding: 1rem;
      position: absolute;
      top: 25%;
      font-size: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      right: 10%;
      list-style-type: none;
      a {
        list-style-type: none;
        word-spacing: 2rem;
        flex: 1;
        line-height: 2rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border: solid 10px transparent;
        box-sizing: border-box;
      }
    }
    small {
      font-size: 8px;
      position: absolute;
      bottom: 30px;
      right: 75px;
      list-style-type: none;
    }
  }
}
