// color-variable
$primary-color: #e0bf78;
$primary-color1: #ffe8b6;
$primary-color2: #f5c55c;
$primary-color3: #d6a12f;
$primary-color4: #bc8714;
$primary-color5: #8e6100;

@import url(./reset.css);

* {
  list-style: none;
  text-decoration: none;
  img {
    width: 100%;
    display: block;
  }
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
